body{
    margin: 0;
    padding: 0;
    text-align: center; 
    background: linear-gradient(to right, rgb(4,238,3), rgb(50,117,74))
}

p{
    color: white;
}

img{
    width: 35%;
    height: 35%;
}

span{
    font-style: italic;
    font-weight: bold;
}

a{
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
}

h1, h2{
    text-shadow: 1px 1px 5px white;
}

.visiblecontainer{
    width: 500px;
    height: 100px;
    background: linear-gradient(to top, #4e4376, #2b5876);
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.rainbowborder{
    padding: 5px;
    background: linear-gradient(45deg, rgb(223,0,0), rgb(21,91,0), rgb(233,245,0), rgb(23,255,17), rgb(29,255,255), rgb(5,17,255), rgb(202,0,253) );
    transition-duration: 500ms;
}

.flexcontainer{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.animated{
    transition-duration: 600ms;
    transition-timing-function: ease-out;
}

.animated:hover{
    width: 750px;
    height: 120px;
    margin-top: 0px;
    font-size: 48px;
    border-radius: 20px;
}

.animatedimg:hover{
    padding-left: 10px;
    padding-right: 10px;
    background: linear-gradient(45deg, rgb(223,0,0), rgb(21,91,0), rgb(233,245,0), rgb(23,255,17), rgb(29,255,255), rgb(5,17,255), rgb(202,0,253) );
    background: linear-gradient(45deg, rgb(202,0,253), rgb(5,17,255), rgb(29,255,255), rgb(23,255,17), rgb(233,245,0), rgb(21,91,0), rgb(223,0,0));
}